/* adminlogform.css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-image: url("../images/doctor3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background for better readability */
}

.container h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for the form */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 20px); /* Adjust input width */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 5px;
    padding: 10px 20px;
    background-color: transparent; /* Transparent background */
    color: #007bff; /* Blue color for text */
    border: 1px solid #007bff; /* Blue border */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition on hover */
}

button:hover {
    background-color: #007bff; /* Blue background on hover */
    color: white; /* White text on hover */
}
